@use '../helpers';
a{
  text-decoration: inherit;
}
a:visited{
  color: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-weight: helpers.$font-weight--normal;
  color: #101D19;
}

footer{
  padding: 1rem;
  display: inline-flex;
}

hr{
  border: #FFFFFF 1px solid;
  border-radius: 7px;
}

ul{
  display: grid;
  place-content: center;
  padding-inline-start: 0;
}

li {
  list-style-type: none;
  width: 100%;
  padding: 1rem;
  background-color: helpers.$colour-emphasized;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5rem;
  border: helpers.$colour-emphasized 1px solid;
  border-radius: 7px;
  font-weight: helpers.$font-weight--medium;
  transition: all 0.5s ease;
  transform: scale(1);
}
li:hover{
  border: helpers.$colour-emphasized 1px solid;
  border-radius: 7px;
  background-color: #fff;
  color: helpers.$colour-emphasized;
  transform: scale(1.025);
}
li:active{
  background-color: helpers.$colour-emphasized;
  color: #fff;
  transition: all 0.5s ease;
  transform: scale(1);
}

main{
  height: 80vh;
  display: flex;
  flex-direction: column;
  place-content: center;
}