// === COLOURS === //
$colour-emphasized: #16A085; // most prominent colour
//$colour-emphasized: #69BAA4; // most prominent colour

//action based
$colour-affirmative: #4CAC18;
$colour-caution: #EFA500;
$colour-destructive: #FF5F5F;

//borders
$colour-border: #101D19;

// === FONTS === //
//font families

//font weights
$font-weight--small: 300;
$font-weight--normal: 400;
$font-weight--medium: 500;
$font-weight--semi-bold: 600;
$font-weight--bold: 700;