@use "../helpers";

.bio {
  display: inline-flex;
  position: absolute;
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
}

.bio-header{
  transform: scale(0.45);
  margin-left: -35%;
  margin-bottom: -15%;
}

.bio-info{
  border: helpers.$colour-emphasized 1px solid;
  background-color: helpers.$colour-emphasized;
  color: #fff;
  border-radius: 7px;
  padding: 1rem;
  width: 60%;
  margin-right: auto;
}

.bio-img{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  padding: 1rem;
  padding-left: 2rem;
  margin-top: auto;
  margin-bottom: auto;
}
.bio-img:hover{
  filter: saturate(0%);
}

.bio-right{
  display: inline-flex;
  flex-direction: column;
  width: 50%;
}